<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <head lang = "pl">
        <title>Reservation confirmation</title>
    </head>

    <body>
        <div class="row" layout:fragment="content">
            <div class ="col m8 s12 offset-m2">
                <h2 class ="indigo-text center" th:text="#{confirmation}">Confirmation</h2>
                <div class="row">
                    <h4 class ="indigo-text " th:text="#{personalInformation}">Personal Information</h4>
                    <div id="profile" th:include="user/_user :: content(user=${ticket.user})"></div> 
                </div>
                <div class="row">
                    <h4 class ="indigo-text" th:text="#{movie}">Movie</h4>
                    <div id="movie" th:include="movie/_movie :: content(movie=${ticket.showing.movie})"></div>  
                </div>
                <div class="row">
                    <h4 class ="indigo-text" th:text="#{showing}">Showing</h4>
                    <div id="showing" th:include="showing/_showing :: content(showing=${ticket.showing})"></div>
                </div>
                <div class="row">
                    <h4 class ="indigo-text " th:text="#{seats}">Seats</h4>
                    <ul>
                        <li th:each="seat : ${ticket.seats}">
                            <div class="row">
                                <div id="seats" th:include="seat/_seat :: content(seat=${seat})"></div>
                            </div>
                        </li>
                    </ul> 
                </div>
                <div class ="row">
                    <form th:action="@{/reservation/finalize}" method="post" >
                        <div class="row s12">
                            <button class="btn waves-effect waves-light"  type="submit" name="confirm">
                                <i class="mdi-content-send center" th:text="#{confirm}">Confirm</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>

