

<div th:fragment="content (user)">
    <div class="col s2">
        <label th:text="#{firstName}">First name</label>
        <h6><span th:text="${user.firstName}">Unknown</span></h6>                           
    </div>  
    <div class="col s2">
        <label th:text="#{lastName}">Last Name</label>
        <h6> <span th:text="${user.lastName}">Unknown</span></h6>   
    </div>
    <div class="col s3">
        <label th:text="#{email}">Email</label>
        <h6><span th:text="${user.email}">Unknown</span></h6>  
    </div>
</div>