

<div th:fragment="content (user)">
    <div class="row">
        <label th:text="#{firstName}">First name</label>
        <h5><span th:text="${user.firstName}">Unknown</span><br/></h5>                           
    </div>  
    <div class="row">
        <label th:text="#{lastName}">Last Name</label>
        <h5> <span th:text="${user.lastName}">Unknown</span><br/></h5>   
    </div>
    <div class="row">
        <label th:text="#{email}">Email</label>
        <h5><span th:text="${user.email}">Unknown</span></h5>  
    </div>
</div>