<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <head lang = "pl">
        <title>Movies</title>
    </head>

    <body>
        <div class="row" layout:fragment="content">
            <div class ="col m8 s12 offset-m2">
                <h2 class ="deep-orange-text center" th:text="#{movies}">Movies</h2>           
                <h5 class="red-text" th:text="${operationResultMessage}"></h5>
                <div class="row">
                    <a class="btn waves-effect waves-teal orange" th:href="@{movie/add}" th:text="#{addMovie}"> 
                        Add movie
                    </a>  
                </div>
                <div class ="row">
                    <form th:action="@{/movie}" method="GET">
                        <div class="input-field col l3">
                            <input th:id="title" th:name="title" th:type="text"/>
                            <label for="title" th:text="#{title}">title</label>
                        </div>
                        <div class="col l1">
                            <button class="btn default" type="submit">
                                <i class="mdi-content-send center" th:text="#{search}"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <ul th:unless="${#lists.isEmpty(movies)}">
                    <li th:each="movie : ${movies}">
                        <div class="row">
                            <div id="movieDetail" th:include="movie/_movie :: content(movie=${movie})"></div>
                            <a class="btn waves-effect waves-teal orange" th:href="@{movie/{id}/edit(id=${movie.id})}" th:text="#{edit}">Edit</a>
                            <a class="btn waves-effect waves-teal orange" th:href="@{movie/{id}/show(id=${movie.id})}" th:text="#{show}">Show</a>
                            <a class="btn waves-effect waves-teal orange" th:href="@{movie/{id}/delete(id=${movie.id})}" th:text="#{delete}">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>