<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <head lang = "pl">
        <title>Showings</title>
    </head>

    <body>
        <div class="row" layout:fragment="content">
            <div class ="col m8 s12 l10 offset-l1">
                <h2 class ="deep-orange-text center" th:text="#{showings}">Showings</h2>           
                <h5 class="red-text" th:text="${operationResultMessage}"></h5>
                <div class="row">
                    <a class="btn waves-effect waves-teal orange" th:href="@{showing/add}" th:text="#{addShowing}"> 
                        Add showing
                    </a>  
                </div>
                <div class ="row">
                    <form th:action="@{/showing}" method="GET">
                        <div class="input-field col l3">
                            <input th:id="movieTitle" th:name="movieTitle" th:type="text"/>
                            <label for="movieTitle" th:text="#{movieTitle}">title</label>
                        </div>
                        <div class="input-field col l3">
                            <input th:id="date" th:name="date" th:type="text"/>
                            <label for="date" th:text="#{date}">title</label>
                        </div>
                        <div class="col l1">
                            <button class="btn default" type="submit">
                                <i class="mdi-content-send center" th:text="#{search}"></i>
                            </button>
                        </div>

                    </form>
                </div>
                <ul th:unless="${#lists.isEmpty(showings)}">
                    <li th:each="showing : ${showings}">
                        <div class="row">
                            <div id="showingDetail" th:include="showing/_showing :: content(showing=${showing})"></div>
                            <a class="btn waves-effect waves-teal orange" th:href="@{showing/{id}/edit(id=${showing.id})}" th:text="#{edit}">Edit</a>
                            <a class="btn waves-effect waves-teal orange" th:href="@{showing/{id}/show(id=${showing.id})}" th:text="#{show}">Show</a>
                            <a class="btn waves-effect waves-teal orange" th:href="@{showing/{id}/delete(id=${showing.id})}" th:text="#{delete}">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>