<html xmlns:th="http://www.thmeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head lang="pl">
</head>
<style>
body {
	
}
</style>
<body>
	<div class="row" layout:fragment="content" th:style="'padding:20px;'">
		
		<div class="row">
			<a class="btn waves-effect waves-teal orange"
				th:href="@{forum/addSection}" th:text="#{addSection}"> Add
				section </a>
		</div>

		<ul th:unless="${#lists.isEmpty(sections)}">
			<li th:each="section : ${sections}">
				<div class="row" >
				
					<div class="col s8" th:style="'background-color: lightblue; border-top-left-radius:5px; border-top-right-radius:5px;'">
						<div class="col s8">
							<h4>
								<span th:text="${section.name}">Unknown</span>
							</h4>
						</div>
						<a th:style="'margin:2px;'" class="btn waves-effect waves-teal orange"
							th:href="@{forum/addTopic/}+${section.id}" th:text="#{addTopic}">
							Add section </a>
						<a th:style="'margin:2px;'" class="btn waves-effect waves-teal red"
							th:href="@{forum/deleteSection/}+${section.id}" th:text="#{deleteSection}">
							Add section </a>
					</div>
				</div>
			<li th:each="topic : ${section.topics}">
				<div class="row" >
					<div class="col s6" th:style="' border: 1px solid black'">
						<a th:href="@{forum/topic/}+${topic.id}">
								<span th:text="${topic.name}" >Unknown</span>
						</a>
							<span th:text="${topic.createDate}">Unknown</span>
						<p th:style="'overflow: hidden; text-overflow: ellipsis;'">
							<span th:text="${topic.description}">Unknown</span>
						</p>
					</div>
					
						<a th:style="'margin:2px;'" class="btn waves-effect waves-teal red"
							th:href="@{forum/deleteTopic/}+${topic.id}" th:text="#{deleteTopic}">
							Add section </a>

				</div>
			</li>
			</li>
		</ul>

	</div>

</body>

</html>
